<div class="modalBackground personModalBackground">
  <div class="modalWindow personModalWindow">
    <div class="modalHeader personModalHeader">
        <div class="button closeButton" (click)="closeModal()">X</div>
        <div *ngIf="isAddMode(); else editMode">
            <div class="title">Создание нового фигуранта</div>
        </div>
        <ng-template #editMode>
            <div class="title">Редактирование выбранного фиугранта</div>
        </ng-template>
    </div>
    <div class="modalBody personModalBody">
        <form>
            <div class="row">
                <span class="legend">Фамилия:</span>
                    <input type="text" 
                    [(ngModel)]="editablePerson.lastname"
                    name="lastname"/>
            </div>
            <div class="row">
                <span class="legend">Имя:</span>
                    <input type="text" 
                    [(ngModel)]="editablePerson.name"
                    name="name"/>
            </div>
            <div class="row">
                <span class="legend">Отчество:</span>
                    <input type="text" 
                    [(ngModel)]="editablePerson.midname"
                    name="midname"/>
            </div>
            <div class="row">
                <span class="legend">Кличка:</span>
                    <input type="text"
                    [(ngModel)]="editablePerson.alias"
                    name="alias"/>
            </div>
        </form>
        <div class="tablesContainer">
            <div class="telephonesTable">
                <div class="title">
                    Telephones
                    <div class="button">+</div>
                    <div class="button">-</div>
                </div>
                <div class="body">
                    <div *ngFor="let telephone of editablePerson.telephones">
                        <div class="row telephoneRow" (click)="onTelephoneTableClicked(telephone)">
                            <div class="phoneIcon">
                                <img src="../../../assets/svgIcons/phone.svg">
                            </div>
                            <div class="telephoneNumber">
                                {{telephone.number}}
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="contactsTable">
                <div class="title">
                    Contacts
                    <div class="button">+</div>
                    <div class="button">-</div>
                </div>
                <div class="body">
                    <div *ngFor="let contact of clickedTelephone.contacts">
                        <div class="row contactRow">
                            <div class="contactIcon">
                                <img src="../../../assets/svgIcons/contact.svg">
                            </div>
                            <div class="contactNumber">{{contact.number}}</div>
                            <div class="contactAlias">{{contact.alias}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
