.modalBackground{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 5s;

    .modalWindow{
        z-index: 999;
        background-color: #fff;
        width: 90%;
        height: 90%;
        border-radius: 5px;

        .modalHeader{

            .title {
                text-align: center;
                font-size: 1.2rem;
                font-weight: bolder;
                margin: 1rem;
            }

            .closeButton{
                position: absolute;
                right: 6%;
            }
        }

        .modalBody {
            display: grid;
            grid-template-columns: 2fr 1fr;
            
            #EMform{
                padding-top: 3rem;
            }
            .personBrowser{
                position: absolute;
                right: 6%;
                height: 70%;
                width: 26%;
                background-color: #f6f6f6f6;
                padding: 2rem;

                .buttonsLayout{
                    display: flex;
                    justify-content: center;
                }
            }

        }
    }
}