<div class="modalBackground" (keydown)="onKeyDown($event)">
    <div class="modalWindow">
        <div class="modalHeader">
            <div class="button closeButton" (click)="closeModal()">X</div>
            <div *ngIf="isAddMode(); else editMode">
                <div class="title">Создание нового события</div>
            </div>
            <ng-template #editMode>
                <div *ngIf="isEditMode()">
                    <div class="title">Редактирование события</div>
                </div>
            </ng-template>
        </div>
        <div class="modalBody">
            <form
            id="EMform">
                <div class="row">
                    <span class="legend">Категория:</span>
                    <input type="text" 
                    [(ngModel)]="editableEvent.category"
                    name="category"/>
                </div>

                <div class="row">
                    <span class="legend">Кем задержан:</span>
                    <input type="text" 
                    [(ngModel)]="editableEvent.detention_by"
                    name="detention_by"/>
                </div>

                <div class="row">
                    <span class="legend">Причина задержания:</span>
                    <input type="text" 
                    [(ngModel)]="editableEvent.detention_reason"
                    name="detention_reason"/>
                </div>

                <div class="row">
                    <span class="legend">Место хранения:</span>
                    <input type="text" 
                    [(ngModel)]="editableEvent.keeping_place"
                    name="keeping_place"/>
                </div>

                <div class="row">
                    <span class="legend">Дополнительная информация:</span>
                    <textarea type="text" 
                    [(ngModel)]="editableEvent.additional"
                    name="additional"
                    ></textarea>
                </div>
                <button type="submit" (click)="onFormSubmit()">Login</button>
            </form> 
            <div class="personBrowser">
                <div class="title">
                </div> 
                <div class="buttonsLayout">
                    <div class="button" (click)="AddPerson()">+</div>
                </div>
                <div class="body" *ngFor="let person of editableEvent.persons;
                let personIndex = index">
                    <app-person-browser-card
                    [personData]="person"
                    [personIndex]="personIndex"
                    [removable]="true"
                    (deletePerson)="onRemovePerson($event)">
                    </app-person-browser-card>
                </div>
            </div>
        </div>
    </div>
</div>