@import "../../styles.scss";

.mainPageContainer {
  display: flex;
  

  .eventTable {
    display: flex;
    justify-content: center;
    .column {
      flex-direction: column;
      display: flex;
      .header {
        background-color: #333333;
        color: #ffffff;
        padding: 1rem 1rem;
        height: 2rem;

        display: flex;
        align-items: center;

        &#dopInfoHeader {
          width: 15vw;
        }
      }

      .cell {
        padding: 1rem 1rem;
        border-bottom: 1px solid #706c61;
        height: 1rem;
        cursor: pointer;

        &.selected{
          background-color: #ffcb8e;
        }
      }
    }
  }

  .personsBrowser {
    display: flex;
    flex-direction: column;
  }
}
