@import "../../styles.scss";

.eventTable {
  display: flex;

  .column {
    display: flex;
    flex-direction: column;
    // margin: 0 1rem;
    // border: 1px solid $borderColor;
    .header {
        background-color: #333333;
        color: #ffffff;
        padding: 1rem 1rem;
    }

    .cell {
        padding: 1rem 1rem;
        border-bottom: 1px solid #706c61;
        height: 1rem;
        cursor: pointer;
    }
  }
}
