<div class="modalBackground">
  <div class="modalWindow">
    <div class="modalHeader">
      <div class="button closeButton" (click)="closeModal()">X</div>
    </div>
    <div class="modalBody">
      <div class="importContent" *ngIf="isImportMode()">

        <input type="checkbox"  [(ngModel)] = "isWithPassword" id="isWithPasswordInput" (change)="isWithPasswordChanged()">
        <label for="isWithPasswordInput">Использовать пароль?</label>

        <input type="password" size="16" [(ngModel)]="encodingPassword" *ngIf="isWithPassword">
        <div class="button" (click)="onImportAllClicked()">Импорт всех записных книг</div>
      </div>
    </div>
  </div>
</div>
