/* You can add global styles to this file, and also import other style files */
$borderColor: black;

@font-face {
  font-family: Roboto;
  src: url(./assets/font/Roboto-Light.ttf) format("truetype");
}

body {
  font-family: Roboto;
}
