/* You can add global styles to this file, and also import other style files */
$borderColor: black;
$buttonBC: #333333;
$buttonBCHover: #706c61;
$buttonC: white;


@font-face {
  font-family: Roboto;
  src: url(./assets/font/Roboto-Light.ttf) format("truetype");
}

body {
  font-family: Roboto;
}

.button{
  cursor: pointer;
  background-color: $buttonBC;
  color: $buttonC;
  font-size: 0.8rem;
  padding:  0.5rem 0.75rem;
  margin: 0 0.25rem;
  border-radius: 5px;
  font-weight: normal;

  &:hover{
    background-color: $buttonBCHover;
    transition: 0.25s;
  }
}

form{
  display: grid;
  font-size: 1.2rem;
  margin: 0 2rem;

  .row{
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;

    .legend{

    }

    .text{

    }
  }
}